{% extends 'layout.html' %}

{% block body %}
  
  <div class="jumbotron">
    <h2>CSV-Only Repository/h2>
    <p>This web app is a sample project built using the Flask microframework. The intent is to create a simple-to-use web application that can upload csv only files to a database, allow the user to view the names of stored csv files, and download as needed.</p>
    <p>You can return to the home page by clicking <strong><a href="/">here</a></strong> or on the navigation bar above.
    <p> If you would like to read more about the Flask microframework, click the button below.
    <p><a class="btn btn-lg btn-primary" href="http://flask.pocoo.org/">Learn more about Flask</a></p>
  </div>

{% endblock %}